---
import Layout from "../layouts/Layout.astro";
import '../styles/about.scss';
---

<Layout>
    <h1>About Code Index</h1>
    <p>Welcome to Code Index! This project is the front-end of the final project, used to showcase how the final product would look like upon completion..</p>
    <p>Code Index is a web application that allows users to upload, browse, and search for code snippets. It is built using Astro, a modern static site generator that allows for fast and efficient web development.</p>

    <h2>Features</h2>
    <ul>
        <li>Upload code snippets with a title and description, using the CodeIndex App</li>
        <li>Browse through a collection of code snippets, extracted from your code base</li>
        <li>Search for specific code snippets using keywords, semantic search, file names or anything else</li>
    </ul>

    <h2>Technologies Used</h2>
    <h3>Front-end</h3>
        <ul>
            <li>Astro: A modern static site generator for building fast and efficient web applications.</li>
            <li>React: A JavaScript library for building user interfaces, used within Astro components.</li>
            <li>SCSS: A CSS preprocessor that allows for more efficient and organized styling of the application.</li>
        </ul>

    <h3>Back-end</h3>
        <ul>
            <li>Flask.py: A Python framework used for server-side development and handling API requests.</li>
            <li>C#: A modern, object-oriented programming language used for developing the full stack of the application.</li>
            <li>MongoDB: A NoSQL database used for storing code snippets and user data.</li>
            <li>Python: A high-level programming language used for backend development and scripting. Used for its AST capabilities for python files.</li>
        </ul>

    <h2>Constraints</h2>
        <p>Due to time constraints, the current version of Code Index only supports uploading and browsing code snippets in Python and C#. However, the architecture of the application is designed to be extensible, allowing for future support of additional programming languages.</p>
        <p>We plan to add support for more programming languages in the future, as well as additional features such as user authentication and code review and generation using AI, if the user enables AI features. <span>Note: all LLM features are disabled by default and must be explicitly enabled by the account associated administrator.</span></p>   

</Layout>