---
import Layout from '../layouts/Layout.astro';
import '../styles/docs.scss';
---

<Layout>
	<div class="docsContent">
		<h1>Documentation Page</h1>
		<p>This is the documentation page for my final project website.</p>
	</div>
</Layout>