---
import Layout from '../layouts/Layout.astro';
import '../styles/index.scss';
---

<Layout>
	<div class="indexContent">
		<h1>Home Page</h1>
		<p>This is the main page of my final project website.</p>

		<p>To download the app, please visit the <a href="/download">Download Page</a>.</p>
	</div>
</Layout>
