---
import Layout from '../layouts/Layout.astro';
import '../styles/search.scss';

import SearchBox from '../components/searchBox'
---


<Layout>
	

    <h1>Search Page</h1>
    <SearchBox client:load/>
    

</Layout>