---
import '../styles/search.scss';
---


<div>
    <h1>Search Page</h1>
    <form >
        <input class="searchBar" type="text" placeholder="Search..." />
        <input type="submit" value="Submit" />
    </form>
    


</div>