---
import Layout from '../layouts/Layout.astro';
import '../styles/search.scss';
---


<Layout>
	

    <h1>Search Page</h1>
    <form >
        <input class="searchBar" type="text" placeholder="Search..." />
        <input type="submit" value="Submit" />
    </form>
    

</Layout>