---
import '../styles/upload.scss'
import Layout from '../layouts/Layout.astro';

import UploadFile from '../components/jsonUpload'
---



<Layout>
    <div class="uploadPage">
        <h1>Upload Page</h1>

        <UploadFile client:load/>
    </div>
</Layout>