---
import Layout from '../layouts/Layout.astro';
---



<Layout>
    <div class="uploadPage">
        <h1>Upload Page</h1>

        <form class="upload-box">
            <input class="uploadInput" type="file" />
            <input class="uploadBtn" type="submit" value="Upload" />
        </form>
    </div>
</Layout>